certifi==2021.5.30
click==7.1.2
Flask==1.1.4
Flask_WTF==1.0.1
gunicorn==20.1.0
itsdangerous==1.1.0
Jinja2>=2.11.2
MarkupSafe==2.0.1
Werkzeug==1.0.1
wincertstore==0.2
opencv-python==4.5.5.64
WTForms==3.0.1
