<html>

<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title> navXE - a local campus navigation app</title>
<style>
      body {
        background-image: url('https://wallpaperaccess.com/full/1560285.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100% 100%;
      }
    </style>

</head>

<body>
<font color="white">
<center>

<h1>The Navigation Page</h1>
<br> <br> <br> <br>

<!--   <button type="button" name="qr-submit" value="qr-submit">Scan QR Code</button> -->
     <button onclick="startWebcam();">Start WebCam</button>
     <!--<button onclick="snapshot();">Take Snapshot</button> -->
     <video onclick="snapshot(this);" width=400 height=400 id="video" controls autoplay></video>
 
      <br><br>
      <div>
            <input type="hidden" id="qr-URL" value=""/>
      </div>

      <canvas  id="myCanvas" width="400" height="350"></canvas>  
      <script defer>

            let called_startWebcam = false;
            sessionStorage.setItem("called_startWebcam",called_startWebcam);
            //--------------------
            // GET USER MEDIA CODE
            //--------------------
            navigator.getUserMedia = ( navigator.getUserMedia ||
                                    navigator.webkitGetUserMedia ||
                                    navigator.mozGetUserMedia ||
                                    navigator.msGetUserMedia);
      
            var video;
            var webcamStream;
                  
            function startWebcam() {
                  console.log("called startWebcam()");
                  var called_startWebcam = true;
                  sessionStorage.setItem("called_startWebcam",called_startWebcam);
            if (navigator.getUserMedia) {
                  navigator.getUserMedia (
      
                  // constraints
                  {
                        video: true,
                        audio: false
                  },
      
                  // successCallback
                  function(localMediaStream) {
                        video = document.querySelector('video');
                        video.srcObject=localMediaStream;
                        webcamStream = localMediaStream;
                  },
      
                  // errorCallback
                  function(err) {
                        console.log("The following error occured: " + err);
                  }
                  );
            } else {
                  console.log("getUserMedia not supported");
            }  
            }
                  
            //---------------------
            // TAKE A SNAPSHOT CODE
            //---------------------
      
            function init() {
            // Get the canvas and obtain a context for
            // drawing in it
                  console.log("called init()");
                  canvas = document.getElementById("myCanvas");
                  ctx = canvas.getContext('2d');
            }
     
            function snapshot() {
         // Draws current image from the video element into the canvas
                  console.log("called snapshot()");

                  console.log("called_startWebcam : ",sessionStorage.getItem("called_startWebcam"));

                  if (sessionStorage.getItem("called_startWebcam") == true){
                        init()
                        ctx.drawImage(video, 0,0, canvas.width, canvas.height);
                        let imgURL = canvas.toDataURL();
                        document.getElementById("qr-URL").value = imgURL;
                  }
                  else if (sessionStorage.getItem("called_startWebcam") == false){
                        let imgURL = "None"
                        document.getElementById("qr-URL").value = imgURL;
                        console.log("imgURL set to None, webcam never started");
                  }

            }
      
      </script>


<form method="POST" onsubmit="snapshot();">
      <div class="nav-form">
            <label for="home">Home</label>
            <input 
                  type="text"
                  id = "home"
                  name = "home"
                  placeholder="enter current location"
            />
      <br><br>
      </div>

      <br><br>
      <div class="nav-form">
            <label for="destination">Destination</label>
            <input 
                  type="text"
                  id = "destination"
                  name = "destination"
                  placeholder="enter destination location"
            />
      </div>
      <br>
      <button type="submit" value="path-submit" name="path-submit">Submit</button>
      <div id="result_nav">
            <p> {{route}} </p>

      </div>
</form>

  

</center>
</font>
</body>

</html>