<html>

<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width">
        <title> navXE - a local campus navigation app</title>
<style>
      body {
        background-image: url('https://wallpaperaccess.com/full/1560285.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100% 100%;
      }

    </style>

</head>

<body>
<font color="white">
<center>

<h1>The Navigation Page</h1>
<br> <br> <br> <br>

<form method="POST">
      <div class="nav-form">
            <label for="home">Home</label>
            <input 
                  type="text"
                  id = "home"
                  name = "home"
                  placeholder="enter current location"
            />
      <br><br>
      <script>
            qrValue = sessionStorage.getItem("qr-value")
            document.getElementById("home").value = qrValue;
      </script>
      <button type="submit" name="scanQR-submit" value="scanQR-submit" id="scanQR-submit">Scan QR</button>
      </div>
      <center>
      <div class="nav-form">
            <input type="hidden" id="qr-URL" name="qr-URL" value=""/>
      </div>
      </center>
      <br>
      <br><br>
      <div class="nav-form">
            <label for="destination">Destination</label>
            <input 
                  type="text"
                  id = "destination"
                  name = "destination"
                  placeholder="enter destination location"
            />
      </div>
      <br><br>
      <button type="submit" value="path-submit" name="path-submit">Submit</button>
      <div id="result_nav">
            <p> {{route}} </p>

      </div> </form>

  

</center>
</font>
</body>

</html>
