<html>

<head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title> navXE - a local campus navigation app</title>
<style>
      body {
        background-image: url('https://wallpaperaccess.com/full/1560285.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: 100% 100%;
      }

    </style>

</head>

<body>
<font color="white">
<center>

<h1>The Navigation Page</h1>
<br> <br> <br> <br>

<form method="POST">
      <div class="nav-form">
            <label for="home">Home</label>
            <input 
                  type="text"
                  id = "home"
                  name = "home"
                  placeholder="enter current location"
            />
      <br><br>
      </div>
      <center>
      <div class="nav-form">
            <input type="hidden" id="qr-URL" name="qr-URL" value=""/>
      </div>
      </center>
      <br>
      <div>   <input type="file" id="fileinput" accept = "image/*">  </div>
      <canvas id= "canvas"></canvas>
      <script>
            let fileInput = document.getElementById('fileinput');
            fileInput.addEventListener('change', function(ev)
            {   if(ev.target.files) { 
                  let file = ev.target.files[0];      
                  var reader  = new FileReader();      
                  reader.readAsDataURL(file);      
                  reader.onloadend = function (e) {          
                  var image = new Image();          
                  image.src = e.target.result;          
                  image.onload = function(ev) {             
                        var canvas = document.getElementById('canvas');             
                        canvas.width = image.width;             
                        canvas.height = image.height;             
                        var ctx = canvas.getContext('2d');             
                        ctx.drawImage(image,0,0);
                        let data_url = document.getElementById("canvas").toDataURL();
                        document.getElementById("qr-URL").value = data_url;
                        console.log(data_url)}
                  }      }   });
        </script>
      <br><br>
      <div class="nav-form">
            <label for="destination">Destination</label>
            <input 
                  type="text"
                  id = "destination"
                  name = "destination"
                  placeholder="enter destination location"
            />
      </div>
      <br><br>
      <button type="submit" value="path-submit" name="path-submit">Submit</button>
      <div id="result_nav">
            <p> {{route}} </p>

      </div>
</form>

<!-- <script>
      if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|BB|PlayBook|IEMobile|Windows Phone|Kindle|Silk|Opera Mini/i.test(navigator.userAgent)) {
            document.getElementById.visibility("video") = 'visible';
            document.getElementById.visibility("myCanvas") = 'visible';
            document.getElementById.visibility("startWebcamButtom") = 'visible';
}
</script>-->

  

</center>
</font>
</body>

</html>
