<html>

<head>

<script src="https://unpkg.com/html5-qrcode@2.0.9/dist/html5-qrcode.min.js"></script>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width">
        <title> navXE - a local campus navigation app</title>
</head>

<body>
<center>
<div id="qr-reader" style="width: 600px"></div>

<form id="qr-form" method="POST">

    <input hidden type="text" name="qr-scan-value" id="qr-scan-value">
    
</form>

<script>

function onScanSuccess(decodedText, decodedResult) {

    console.log(`Code scanned = ${decodedText}`, decodedResult);

    if (decodedText != ""){
        document.getElementById("qr-scan-value").value = decodedText;
        document.getElementById("qr-form").submit();
        sessionStorage.setItem("qr-value",decodedText);
        }

}

var html5QrcodeScanner = new Html5QrcodeScanner(
	"qr-reader", { fps: 10, qrbox: 250 });
html5QrcodeScanner.render(onScanSuccess);

</script>
</center>>

</body>
</html>