<html>

  <head>
    <title> Vue Test</title>
    <style>
          .box {
            background-color: purple;
            height: 200px;
            width: 200px;
          }
          [v-cloak] {
            display: none;
          }
          input {
            margin: 10px;
            display: block;
          }
    </style>
  </head>
  <body>

    <div id="app" v-cloak>

      <login-form></login-form>
      
      <hr />

      <button @click="toggleBox">Toggle Box</button>
      <div v-if="isVisible" class="box"></div>

    </div>


    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <script>

          export default {
                data(){
                    return {
                        dataentry:{company:"",designation:"",review:"",}
                    ,};
                },
                methods:{
                    submit:function(){
                          const path = 'http://127.0.0.1:5000/test'
                          axios.post(path, {
                                  strTest : "Strings work",
                                  boolTest : true,
                                  numTest : 420
                                }).then(response => {console.log(response);}).catch(err =>{console.log(err);});},}}

    </script>



<!--    <script>

          let app = Vue.createApp({
              delimiters : ['$V{','}'],
              data : function(){
                return {
                  greeting : "Hello Vue 3",
                  isVisible : false
                }
              },
              methods: {
                  toggleBox() {
                      this.isVisible = !this.isVisible
                  }
              }
            })
            app.component('login-form',{
              template: `
                  <form @submit="handlesubmit">
                      <h1> Log In </h1>
                      <input type="email"/>
                      <input type="password"/>
                      <button>Submit</button>
                  </form>
              `,
              data() {
                return {
                    title : "Login Form",
                }
              },
              methods:{
                  handlesubmit(){
                    console.log("Form submitted")

                  }
              }
            })
            app.mount('#app')

    </script>
  -->

  </body>

</html> 